.navbar-brand {
    font-size: 35px;
}

.nav-link {
    font-size: 35px;
}

.nav-item active {
    font-size: 35px;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

#img_container {
    position:relative;
    text-align:center;
    width: 100%;
    height: 100%;
}

.button {
    position:absolute;
    bottom:50%;
    right:46%;
    width:7%;
    height:8%;
}

.card-overlay {
    position:absolute;
    bottom:50%;
    right:35%;
    width:30%;
    height:30%;
}


